# Electron 下载配置
ELECTRON_MIRROR=https://github.com/electron/electron/releases/download/
ELECTRON_CUSTOM_DIR=v{{ version }}

# 禁用遥测
ELECTRON_BUILDER_ALLOW_UNRESOLVED_DEPENDENCIES=true

# 缓存配置
cache-min=86400
